<a href="https://colab.research.google.com/github/madhu1096/Arduino-Projects/blob/master/Python_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics

In [ ]:
int()
float()
str()
list()
set()

In [ ]:
a=2.0
b=str(a)
print(type(b),b)

<class 'str'> 2.0

In [ ]:
f = [[[1,2], "banana", "cherry"],
     ["apple", "banana", "cherry"],
     ["apple", "banana", "cherry"],
     ["apple", "banana", "cherry"]]
print(type(f[0][0]))
print(f[0][0])

<class 'list'>
[1, 2]

In [ ]:
fruits = [2,2.0, "banana", "cherry"]
print(type(fruits[1]))

<class 'float'>

In [ ]:
print('there are {a} {b} trees'.format(a=5,b=6))

#Data types

In [ ]:
a=((stud1,10),())

In [40]:
inp = input()
print(inp)

abcdd
abcdd

In [36]:
inp

'aaaabbcc'

In [41]:
a=[]
for i in inp:
  a.append(i)
print(a)
b=set(a)
print(b)
c=list(b)
print(c)
temp=''
for i in range(0,len(c)):
  temp=temp+c[i]
  z=a.count(c[i])
  temp=temp+str(z)
temp

['a', 'b', 'c', 'd', 'd']
{'b', 'd', 'c', 'a'}
['b', 'd', 'c', 'a']

'b1d2c1a1'

In [90]:
def compressedString(message):
  a=[]
  for i in message:
    a.append(i)
  count=1
  temp=''
  for i in range(1,len(message)):
    if a[i]!=a[i-1]:
      temp=temp+a[i-1]
      if count > 1: 
        temp=temp+str(count)
      count=1
    else:
      count=count+1
    if i>=(len(message)-1):
      temp=temp+a[i]
      if count > 1: 
        temp=temp+str(count)
  return temp

In [91]:
abc=compressedString('aabbccdd')
print(abc)

a2b2c2d2

In [ ]:
count=1
temp=''
for i in range(1,len(inp)):
  if a[i]!=a[i-1]:
    temp=temp+a[i-1]
    temp=temp+str(count)
    count=1
  else:
    count=count+1
  if i>=(len(inp)-1):
    temp=temp+a[i-1]
    temp=temp+str(count)
temp

'b3a4d6'

In [ ]:
length=len(inp)
count=0
temp=''
for i in range(0,len(inp)):
  j=i+1 
  a=inp[i]
  b=inp[j]
  if a == b:
   while 1:
    ii=j 
    if inp[i]==inp[ii]:
      coun=count+1
      ii=ii+1
    else:
      break;
temp

In [ ]:
temp

'aaaaabbbbccc'

In [7]:
a=(1,2,'a')
a=(1,2,'a',1)
print(a[0])
type(a)

1

tuple

In [8]:
b=[1,2,3,4]
print(b)
b.pop(3)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [9]:
b[1]=7
print(b)

[1, 7, 3]

In [ ]:
a=(1,2,'a')
a[3]=7
print(a)

In [ ]:
c='abcde'
for i in range(0,len(c),2):
  print(c[i])

In [ ]:
c={'madhu':{'emp':1,'sal':100,'doj':1998}}
a=[1,2,3,[1,2,3]]
a[3][2]

3

In [ ]:
c['madhu']['sal']

100

In [18]:
c={
   'madhu':200,
   'santhosh':200,
   'Ram':400
   }

In [ ]:
e = c
print(e)

{'madhu': 200, 'santhosh': 200, 'Ram': 400}

In [ ]:
print(e)

{'madhu': 200, 'santhosh': 200, 'Ram': 400}

In [ ]:
for x, y in c.items():
  print(x, y)

madhu 200
santhosh 200
Ram 300

In [ ]:
c=[1,2,3,4,5]

In [ ]:
for a,b in enumerate(c):
  print(a,b)

for i in c:
  print(i)

0 1
1 2
2 3
3 4
4 5
1
2
3
4
5

In [19]:
print(type(c))
c['madhu']=300

<class 'dict'>

In [ ]:
print(c.keys())
print(c.values())  
print(c['madhu'])
print(c.get('Ram'))
print(c)
print(c.update({'madhu':100}))
print(c)
c['karthick']=400
print(c)
c.pop('karthick')
print(c)
c['teja']=500
print(c)
c.popitem()  #delete recent add
print(c)
a=[1,2,3,4]
print(a)
a=[]
print(a)
c.clear()
print(c)

dict_keys(['madhu', 'santhosh', 'Ram'])
dict_values([100, 200, 300])
100
300
{'madhu': 100, 'santhosh': 200, 'Ram': 300}
None
{'madhu': 100, 'santhosh': 200, 'Ram': 300}
{'madhu': 100, 'santhosh': 200, 'Ram': 300, 'karthick': 400}
{'madhu': 100, 'santhosh': 200, 'Ram': 300}
{'madhu': 100, 'santhosh': 200, 'Ram': 300, 'teja': 500}
{'madhu': 100, 'santhosh': 200, 'Ram': 300}
[1, 2, 3, 4]
[]
{}

In [ ]:
for i in range(0,2):
  print('hi')
print('bye')

In [ ]:
a=[1,2,3]
print(a)
b=a.copy()
print(b)
b[0]=7
print(a)
print(b)

In [60]:
a={2,'a',1,'c'}
a.add("apple")
print(type(a))
print(a)

<class 'set'>
{1, 2, 'apple', 'a', 'c'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in {"apple", "banana", "cherry"})

In [ ]:
list = []
dict = {{}}
set  = {}
tuple = ()

In [61]:
a=[1,2,3]
b=set(a)
print(type(b))

<class 'set'>

##IF ELIF

In [69]:
a=20
b=30

if a==b:
  print('equal')
elif a > b :
  print('GT')
else:
  print('{a} LT {b}'.format(a=a,b=b))
  print(str(a)+' LT '+str(b))

20 LT 30
20 LT 30
aaa

In [74]:
a=[i for i in range(0,11) if i%2==0]
print(a)

[0, 2, 4, 6, 8, 10]

In [ ]:
i = 1
while i < 10:
  print(i)
  i += 1 
else:
  print('end')

In [81]:
a='madhu'
for i in a:
  print(i)

m
a
d
h
u

In [83]:
for x in range(6):
  if x == 3:
     continue
  print(x)
else:
  print("Finally finished!")

0
1
2
4
5
Finally finished!